*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.content{
    height: 100vh;
}

#image-example{
    width: 100%;
}

#full-image-example{
    width: 100%;
    filter: brightness(35%);
    position: absolute;
    height: 250px;
    left: 0;
}

.first-overlay p{
    position: relative;
    top: 0;
    text-align: center;
    color: white;
    margin-top: 15%;
    font-size: 30px;
}

.first-overlay button{
    position: relative;
    left: 31%;
    margin-top: 15px;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    color: white;
    background-color: #C59560;
    font-size: 16px;
}

.first-overlay button a{
    text-decoration: none;
    color: white;
}

#text-example{
    text-align: justify;
    background-color: #C59560;
    padding: 10px;
    font-size: 25px;
    margin-bottom: -20px;
    color: #F7F7F7;
}

.content{
    display: flex;
    flex-direction: column;
}

.top{
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-evenly;
    color: #3338A0;
}

.top-left-container{
    text-align: center;
    font-size: 13px;
}

.footer-container{
    color: #3338A0;
    font-size: 10px;
    padding: 30px;
    text-align: center;
}

.portrait-container{
    margin-top: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.portrait-container img{
    height: 300px;
    width: 125px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

footer{
    padding-top: 400px;
}

#client-desc{
    left: 19%;
    position: relative;
    text-align: center;
    margin-top: 10px;
    width: 250px;
    font-size: 25px;
}

@media only screen and (max-width: 452px) {
    .top-container h1{
        font-size: 50px;
    }

    .top-container p{
        font-size: 30px;
    }
    
    .first-overlay p{
        position: relative;
        top: 0;
    }

    .footer-container{
        font-size: 11px;
    }
}

@media only screen and (max-width: 375px) {

    .top-left-container{
        font-size: 13px;
    }
    
    .top-right-container{
        font-size: 15px;
    }


    #text-example{
        text-align: justify;
    }

    #text-example{
        font-size: 20px;
    }

    .first-overlay button{
        left:29%
    }

    .footer-container{
        font-size: 11px;
    }

    .portrait-container img{
        height: 250px;
        width: 110px;
        object-fit: cover;
        object-position: center;
        border-radius: 10px;
    }

    #client-desc{
        left: 15%;
        position: relative;
        text-align: center;
        margin-top: 10px;
        width: 250px;
        font-size: 23px;
    }
}

@media only screen and (max-width:320px){
    .top-left-container{
        font-size: 11px;
    }
    
    .top-right-container{
        font-size: 13px;
    }

    .portrait-container img{
        height: 220px;
        width: 95px;
    }

    #client-desc{
        left: 10%;
        font-size: 20px;
    }

    .footer-container{
        font-size: 10px;
    }

    footer{
        padding-top: 280px;
    }

    .first-overlay button{
        left: 26%;
    }

    .first-overlay p{
        margin-top: 15%;
        font-size: 28px;
    }
}